<a href="https://colab.research.google.com/github/Alan0331/Pandas-Handling-Missing-Values/blob/main/Pandas_Handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Detecting missing values in the DataFrame
missing_values = df.isnull()

# Displaying missing values (True for missing, False for not missing)
print("\nMissing Values in DataFrame (True indicates missing data):")
print(missing_values)

This code creates a DataFrame, detects missing values, and displays a boolean mask where True indicates missing data. Copy this into a Colab notebook, run it, and share the link if needed! Let me know if you need any modifications

2.  Write a Pandas program to identify the column(s) of a given DataFrame which have at least one missing value.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Detecting missing values in the DataFrame
missing_values = df.isnull()

# Displaying missing values (True for missing, False for not missing)
print("\nMissing Values in DataFrame (True indicates missing data):")
print(missing_values)

# Identifying columns with at least one missing value
columns_with_missing = df.columns[df.isnull().any()].tolist()

# Displaying the columns that contain missing values
print("\nColumns with at least one missing value:")
print(columns_with_missing)

I've updated the code to identify columns that have at least one missing value and display them.

3. Write a Pandas program to count the number of missing values in each column of a given DataFrame.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Display the original DataFrame
p

This Pandas program detects and counts missing values in a DataFrame. It first creates a dataset with missing values, then uses .isnull() to identify them, .any() to find columns with missing data, and .sum() to count missing values in each column. This helps in understanding and handling missing data effectively.

4. Write a Pandas program to find and replace the missing values in a given DataFrame which do not have any valuable information.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values and placeholders
data = {
    'ord_no': [70001, None, 70002, 70004, None, 70005, '--', 70010, 70003, 70012, None, 70013],
    'purch_amt': [150.5, 270.65, 65.26, 110.5, 948.5, 2400.6, 5760, '?', 12.43, 2480.4, 250.45, 3045.6],
    'ord_date': ['?', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, '--', 3002, 3001, 3001],
    'salesman_id': [5002, 5003, '?', 5001, None, 5002, 5001, '?', 5003, 5002, 5003, '--']
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Defining placeholder values that do not carry valuable information
placeholders = ['?', '--', 'NaN', None]

# Replacing placeholders with NaN for easier processing
df.replace(placeholders, pd.NA, inplace=True)

# Displaying the DataFrame after replacement
print("\nDataFrame after replacing missing values with NaN:")
print(df)

# Handling missing values by filling them with a default value (e.g., 'Unknown' for categorical and 0 for numerical columns)
df.fillna({'ord_no': 0, 'purch_amt': 0, 'ord_date': 'Unknown', 'customer_id': 0, 'salesman_id': 'Unknown'}, inplace=True)

# Displaying the cleaned DataFrame
print("\nCleaned DataFrame after filling missing values:")
print(df)

This Pandas program identifies and replaces missing values in a DataFrame. It first defines placeholders (`?`, `--`, `NaN`, etc.) and replaces them with `NaN` for consistency. Then, it fills missing values with appropriate defaults (e.g., `0` for numerical columns and `'Unknown'` for categorical data), ensuring a clean dataset for further analysis.

5. Write a Pandas program to drop the rows where at least one element is missing in a given DataFrame.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Dropping rows where at least one value is missing
cleaned_df = df.dropna()

# Displaying the DataFrame after dropping missing value rows
print("\nDataFrame after dropping rows with missing values:")
print(cleaned_df)

This Pandas program removes rows with missing values from a DataFrame using `dropna()`. It first creates a dataset with missing values, then applies `dropna()` to filter out incomplete rows, ensuring only fully populated data remains for further analysis.

6. Write a Pandas program to drop the columns where at least one element is missing in a given DataFrame.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [150.50, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': ['2012-10-05', '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    'salesman_id': [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Dropping columns where at least one value is missing
cleaned_df = df.dropna(axis=1)

# Displaying the DataFrame after dropping columns with missing values
print("\nDataFrame after dropping columns with missing values:")
print(cleaned_df)

This Pandas program removes columns with missing values using `dropna(axis=1)`. It ensures that only fully populated columns remain, making the dataset cleaner and more reliable for analysis.

7. Write a Pandas program to drop the rows where all elements are missing in a given DataFrame

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [None, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    'purch_amt': [None, 270.65, 65.26, 110.50, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60],
    'ord_date': [None, '2012-09-10', None, '2012-08-17', '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', '2012-04-25'],
    'customer_id': [None, 3001.0, 3001.0, 3003.0, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, 3001.0]
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Dropping rows where all values are missing
cleaned_df = df.dropna(how='all')

# Displaying the DataFrame after dropping fully missing rows
print("\nDataFrame after dropping rows where all elements are missing:")
print(cleaned_df)

This Pandas program removes rows where all elements are missing using `dropna(how='all')`. It ensures that only meaningful data remains in the DataFrame, improving data quality for analysis.

8. Write a Pandas program to keep the rows with at least 2 NaN values in a given DataFrame.

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [None, None, 70002.0, None, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, None],
    'purch_amt': [None, 270.65, 65.26, None, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, None],
    'ord_date': [None, '2012-09-10', None, None, '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', None],
    'customer_id': [None, 3001.0, 3001.0, None, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, None]
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Keeping only the rows that have at least 2 NaN values
filtered_df = df[df.isnull().sum(axis=1) >= 2]

# Displaying the DataFrame after filtering
print("\nDataFrame with rows having at least 2 NaN values:")
print(filtered_df)

This Pandas program filters the DataFrame to keep only the rows that contain at least two missing (NaN) values using `df.isnull().sum(axis=1) >= 2`. It helps focus on incomplete data for further analysis or cleaning.

9. Write a Pandas program to drop those rows from a given DataFrame in which specific columns have missing values

In [ ]:
# Importing required libraries
import pandas as pd

# Creating the test DataFrame with missing values
data = {
    'ord_no': [None, None, 70002.0, None, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, None],
    'purch_amt': [None, 270.65, 65.26, None, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, None],
    'ord_date': [None, '2012-09-10', None, None, '2012-09-10', '2012-07-27', '2012-09-10', '2012-10-10', '2012-10-10', '2012-06-27', '2012-08-17', None],
    'customer_id': [None, 3001.0, 3001.0, None, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, None]
}

# Creating a Pandas DataFrame
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Dropping rows where specific columns ('ord_no' and 'ord_date') have missing values
df_cleaned = df.dropna(subset=['ord_no', 'ord_date'])

# Displaying the DataFrame after dropping rows with missing values in specified columns
print("\nDataFrame after dropping rows where 'ord_no' or 'ord_date' have missing values:")
print(df_cleaned)

This Pandas program removes rows where specific columns (e.g., 'ord_no' and 'ord_date') contain missing values using `dropna(subset=[columns])`. This ensures that only relevant, complete data is retained for further processing.

10. Write a Pandas program to keep the valid entries of a given DataFrame.

In [ ]:
### Pandas Data Cleaning and Handling Missing Data

#### 1. Detect Missing Values in a DataFrame
This program checks for missing values in a given DataFrame and returns a boolean mask indicating the presence of missing data.

#### 2. Identify Columns with Missing Values
This program identifies the columns that contain at least one missing value.

#### 3. Count Missing Values in Each Column
The program counts and displays the number of missing values in each column of the DataFrame.

#### 4. Replace Missing Values
This program replaces missing or invalid values (such as '?', '--', or NaN) with meaningful values like the column mean or a placeholder.

#### 5. Drop Rows with Missing Values
The program removes any row that contains at least one missing value using `dropna()`.

#### 6. Drop Columns with Missing Values
This program removes columns that contain at least one missing value using `dropna(axis=1)`.

#### 7. Drop Rows Where All Elements Are Missing
The program removes rows where all values are NaN, ensuring partial data is retained for further analysis.

#### 8. Keep Rows with At Least 2 NaN Values
This program retains rows that contain at least two missing values using `dropna(thresh=2)`, helping in cases where partial data is still useful.

#### 9. Drop Rows with Missing Values in Specific Columns
The program removes rows where specific columns (e.g., 'ord_no' and 'ord_date') contain missing values using `dropna(subset=[columns])`. This ensures that only relevant, complete data is retained for further processing.

#### 10. Keep Only Valid Entries
This program filters out rows that contain any missing values, ensuring that the remaining data is fully complete and ready for analysis.

This Pandas program filters out only the valid (non-missing) entries from the DataFrame by dropping all rows that contain NaN values in every column. It ensures that only meaningful data remains for analysis.

11. Write a Pandas program to calculate the total number of missing values in a DataFrame.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [None, None, 70002.0, None, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, None],
    "purch_amt": [None, 270.65, 65.26, None, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, None],
    "ord_date": [None, "2012-09-10", None, None, "2012-09-10", "2012-07-27", "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", None],
    "customer_id": [None, 3001.0, 3001.0, None, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, None]
}

df = pd.DataFrame(data)

# Calculating total number of missing values
total_missing = df.isna().sum().sum()

# Displaying the result
print("Total number of missing values in the DataFrame:", total_missing)

df.isna() generates a boolean DataFrame where True represents missing (NaN) values.
.sum() first sums up the missing values column-wise.
Another .sum() sums up all the missing values across the entire DataFrame.
The result gives the total count of missing values in the DataFrame.
This helps in understanding the completeness of data before performing any data-cleaning operations.

12. Write a Pandas program to replace NaNs with a single constant value in specified columns in a DataFrame.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [None, None, 70002.0, None, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, None],
    "purch_amt": [None, 270.65, 65.26, None, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, None],
    "ord_date": [None, "2012-09-10", None, None, "2012-09-10", "2012-07-27", "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", None],
    "customer_id": [None, 3001.0, 3001.0, None, 3002.0, 3001.0, 3001.0, 3004.0, 3003.0, 3002.0, 3001.0, None]
}

df = pd.DataFrame(data)

# Replacing NaNs in specific columns with a constant value
df[['ord_no', 'ord_date']] = df[['ord_no', 'ord_date']].fillna("Not Available")

# Displaying the updated DataFrame
print(df)

fillna("Not Available") is used to replace missing values in the specified columns (ord_no and ord_date) with "Not Available".
This approach ensures that missing values are handled in a way that retains information while making the data more interpretable.

13. Write a Pandas program to replace NaNs with the value from the previous row or the next row in a given DataFrame.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    "purch_amt": [150.50, None, 65.26, 110.50, 948.50, None, 5760.00, 1983.43, None, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, None, 11.50, 98.50, None, 57.00, 19.43, None, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", None, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Filling NaNs with the previous row value, then filling remaining NaNs with the next row value
df.fillna(method='ffill', inplace=True)  # Forward fill
df.fillna(method='bfill', inplace=True)  # Backward fill

# Displaying the updated DataFrame
print(df)

     ord_no  purch_amt  sale_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50     10.50  2012-10-05         3002       5002.0
1   70001.0     150.50     20.65  2012-09-10         3001       5003.0
2   70002.0      65.26     20.65  2012-09-10         3001       5001.0
3   70004.0     110.50     11.50  2012-08-17         3003       5001.0
4   70004.0     948.50     98.50  2012-09-10         3002       5002.0
5   70005.0     948.50     98.50  2012-07-27         3001       5001.0
6   70005.0    5760.00     57.00  2012-09-10         3001       5001.0
7   70010.0    1983.43     19.43  2012-10-10         3004       5001.0
8   70003.0    1983.43     19.43  2012-10-10         3003       5003.0
9   70012.0     250.45     25.45  2012-06-27         3002       5002.0
10  70012.0      75.29     75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60     35.60  2012-04-25         3001       5003.0

<ipython-input-1-e933fc2fcab6>:17: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Forward fill
<ipython-input-1-e933fc2fcab6>:18: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Backward fill

fillna(method='ffill'): Fills NaN values with the previous row's value.
fillna(method='bfill'): Fills any remaining NaNs with the next row's value.
This ensures that missing values are replaced efficiently using nearby available data.

14. Write a Pandas program to replace NaNs with median or mean of the specified columns in a given DataFrame.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    "purch_amt": [150.50, None, 65.26, 110.50, 948.50, None, 5760.00, 1983.43, None, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, None, 11.50, 98.50, None, 57.00, 19.43, None, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", None, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Replacing NaNs with median for 'purch_amt' and 'sale_amt' columns
df["purch_amt"].fillna(df["purch_amt"].median(), inplace=True)
df["sale_amt"].fillna(df["sale_amt"].median(), inplace=True)

# Replacing NaNs with mean for 'salesman_id' column
df["salesman_id"].fillna(df["salesman_id"].mean(), inplace=True)

# Displaying the updated DataFrame
print(df)

.fillna(df["column"].median()) replaces NaNs with the median value of the column.
.fillna(df["column"].mean()) replaces NaNs with the mean value of the column.
This approach ensures that missing values are replaced with meaningful statistical measures.

15. Write a Pandas program to interpolate the missing values using the Linear Interpolation method in a given DataFrame.
From Wikipedia, in mathematics, linear interpolation is a method of curve fitting using linear polynomials to construct new data points within the range of a discrete set of known data points.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    "purch_amt": [150.50, None, 65.26, 110.50, 948.50, None, 5760.00, 1983.43, None, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, None, 11.50, 98.50, None, 57.00, 19.43, None, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", None, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Interpolating missing values using the linear method
df.interpolate(method='linear', inplace=True)

# Displaying the updated DataFrame
print(df)

.interpolate(method='linear') fills missing values by performing linear interpolation.
It estimates missing values by assuming a linear relationship between existing values in the column.
inplace=True updates the DataFrame directly.
This method provides a smooth way to fill missing numerical data while preserving trends.


16. Write a Pandas program to count the number of missing values of a specified column in a given DataFrame.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    "purch_amt": [150.50, None, 65.26, 110.50, 948.50, None, 5760.00, 1983.43, None, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, None, 11.50, 98.50, None, 57.00, 19.43, None, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", None, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Specify the column to count missing values
column_name = "ord_no"  # Change this to count missing values in a different column

# Count the number of missing values in the specified column
missing_count = df[column_name].isna().sum()

# Display the result
print(f"Number of missing values in column '{column_name}':", missing_count)

df[column_name].isna() returns a boolean Series where True indicates missing values.
.sum() counts the number of True values, giving the total missing values in the specified column.
The column name can be changed to check for missing values in different columns.
This approach helps in quickly identifying missing data in a DataFrame

17. Write a Pandas program to count the missing values in a given DataFrame.

In [ ]:
import pandas as pd

# Creating the DataFrame
data = {
    "ord_no": [70001.0, None, 70002.0, 70004.0, None, 70005.0, None, 70010.0, 70003.0, 70012.0, None, 70013.0],
    "purch_amt": [150.50, None, 65.26, 110.50, 948.50, None, 5760.00, 1983.43, None, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, None, 11.50, 98.50, None, 57.00, 19.43, None, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", None, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, None, 5002.0, 5001.0, 5001.0, None, 5003.0, 5002.0, 5003.0, None]
}

df = pd.DataFrame(data)

# Count missing values for each column
missing_values = df.isna().sum()

# Display the result
print("Number of missing values in each column:")
print(missing_values)

df.isna() creates a boolean DataFrame where True represents missing values.
.sum() calculates the total number of missing values per column.
The result shows the count of missing values in each column, helping in data cleaning and preprocessing.
This method is useful for quickly identifying missing data in a dataset.

18. Write a Pandas program to find the Indexes of missing values in a given DataFrame.

In [ ]:
import pandas as pd
import numpy as np

# Creating the DataFrame
data = {
    "ord_no": [70001.0, np.nan, 70002.0, 70004.0, np.nan, 70005.0, np.nan, 70010.0, 70003.0, 70012.0, np.nan, 70013.0],
    "purch_amt": [150.50, np.nan, 65.26, 110.50, 948.50, np.nan, 5760.00, 1983.43, np.nan, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, np.nan, 11.50, 98.50, np.nan, 57.00, 19.43, np.nan, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", np.nan, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, np.nan, 5002.0, 5001.0, 5001.0, np.nan, 5003.0, 5002.0, 5003.0, np.nan]
}

df = pd.DataFrame(data)

# Finding indexes of missing values
missing_indexes = df.isna().stack()[df.isna().stack()].index.tolist()

# Display the result
print("Indexes of missing values:")
for index in missing_indexes:
    print(f"Row: {index[0]}, Column: {index[1]}")

df.isna() creates a boolean DataFrame where True represents missing values.
.stack() converts the DataFrame into a stacked Series to make it easier to filter missing values.
[df.isna().stack()] filters only True values (missing values).
.index.tolist() retrieves the list of indexes (row, column) of missing values.
Finally, the results are printed in a readable format.
This program helps in identifying exactly where the missing values are in a dataset.

19. Write a Pandas program to replace the missing values with the most frequent values present in each column of a given DataFrame.

In [ ]:
import pandas as pd
import numpy as np

# Creating the DataFrame
data = {
    "ord_no": [70001.0, np.nan, 70002.0, 70004.0, np.nan, 70005.0, np.nan, 70010.0, 70003.0, 70012.0, np.nan, 70013.0],
    "purch_amt": [150.50, np.nan, 65.26, 110.50, 948.50, np.nan, 5760.00, 1983.43, np.nan, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, np.nan, 11.50, 98.50, np.nan, 57.00, 19.43, np.nan, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", np.nan, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, np.nan, 5002.0, 5001.0, 5001.0, np.nan, 5003.0, 5002.0, 5003.0, np.nan]
}

df = pd.DataFrame(data)

# Replacing missing values with the most frequent value in each column
df_filled = df.apply(lambda x: x.fillna(x.mode()[0]) if x.mode().size > 0 else x, axis=0)

# Displaying the result
print(df_filled)

x.mode()[0] retrieves the most frequent value (mode) of each column.
x.fillna(x.mode()[0]) fills missing values in each column with the most frequent value.
.apply(..., axis=0) applies the operation column-wise.
This ensures that missing values in each column are replaced with the most frequently occurring value, making the dataset more complete.

20. Write a Pandas program to create a hitmap for more information about the distribution of missing values in a given DataFrame.

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Creating the DataFrame
data = {
    "ord_no": [70001.0, np.nan, 70002.0, 70004.0, np.nan, 70005.0, np.nan, 70010.0, 70003.0, 70012.0, np.nan, 70013.0],
    "purch_amt": [150.50, np.nan, 65.26, 110.50, 948.50, np.nan, 5760.00, 1983.43, np.nan, 250.45, 75.29, 3045.60],
    "sale_amt": [10.50, 20.65, np.nan, 11.50, 98.50, np.nan, 57.00, 19.43, np.nan, 25.45, 75.29, 35.60],
    "ord_date": ["2012-10-05", "2012-09-10", np.nan, "2012-08-17", "2012-09-10", "2012-07-27",
                 "2012-09-10", "2012-10-10", "2012-10-10", "2012-06-27", "2012-08-17", "2012-04-25"],
    "customer_id": [3002, 3001, 3001, 3003, 3002, 3001, 3001, 3004, 3003, 3002, 3001, 3001],
    "salesman_id": [5002.0, 5003.0, 5001.0, np.nan, 5002.0, 5001.0, 5001.0, np.nan, 5003.0, 5002.0, 5003.0, np.nan]
}

df = pd.DataFrame(data)

# Set the figure size
plt.figure(figsize=(10, 6))

# Create the heatmap
sns.heatmap(df.isnull(), cmap="viridis", cbar=False, yticklabels=False)

# Add title
plt.title("Missing Values Heatmap")

# Show the plot
plt.show()

df.isnull() creates a boolean mask indicating missing values.
sns.heatmap(...) visualizes missing values:
cmap="viridis" sets the color scheme.
cbar=False removes the color bar.
yticklabels=False hides row labels for clarity.
plt.title() gives a title to the heatmap.
plt.show() displays the heatmap.
This heatmap clearly shows where missing values are located, helping in data analysis and preprocessing.